<form action="https://wycn35kmuf.execute-api.ap-northeast-1.amazonaws.com/dev/job/approve" method="post">
    Execution Id:<br>
    <input type="text" name="executionId"><br>
    <input type="submit" value="Submit">
</form>
