<form action="https://wycn35kmuf.execute-api.ap-northeast-1.amazonaws.com/dev/job/create" method="post">
  First name:<br>
  <input type="text" name="jobTitle"><br>
  Last name:<br>
  <input type="text" name="jobName">
  <br>
  Status:<br>
  <input type="text" name="status"><br>
  <input type="submit" value="Submit">
</form>
